@model ReservationViewModel

<div class="form-search">
       <form asp-action="SearchReservation" asp-controller="Reservation">
            <div class="form-group search-option w-25">
                <input type="text" class="form-control w-100" placeholder="Search"/>
                <button type="submit" value="Search" class="btn btn-dark btn-search" >Search</button>
            </div>
       </form>
   </div>
    <h1>Reservations:</h1>
    <table class="table table-striped">
         <thead>
    <tr>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Order Details</th>
    </tr>
  </thead>
  <tbody>
     <tr>
        <td>@Model.Name</td>
        <td>@Model.LastName</td>
        <td><a asp-action="Details" asp-controller="Reservation" asp-route-id="@Model.Id" class="btn btn-outline-dark">Order #@Model.Id</a></td>
        <td><a asp-action="DeleteReservation" asp-controller="Reservation" asp-route-id="@Model.Id" class="btn btn-outline-danger">Delete</a></td>
     </tr>
      
  </tbody>
 
    

</table>

