html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    background-color: #f7f7f7;
}
@media (max-width : 760px) {

    .form-drop-down {
        display: flex;
        flex-wrap: wrap;
    }
    .form-new-cinema-hall button{
        margin-right:1em;
    }
    .form-new-program button {
        margin-top:-1em;
    }
    .image-name-movie {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        flex-wrap: wrap;
        gap:2em;
    }
    .desc-movie textarea{
        width:20em;
    }
    .edit-cinema-hall {
        float: right;
        margin-top: -1em;
    }
    .add-snacks-input{
        width:auto !important;
    }
    .container-carousel {
        display: none !important;
    }
}


.cards {
    display: flex;
    align-content: stretch;
    flex-wrap: wrap;
    align-items: stretch;
    gap: 2em;
    margin-top: 1em;
    justify-content: flex-start;
}
.card-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
    align-content: center;
   
}


img {
    height: 20em;
}
.movie-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.form-new-program {
    display: flex;
    width: auto;
    padding: 2em;
    justify-content: start;
    background-image: url("https://images.unsplash.com/photo-1489599849927-2ee91cede3ba?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
    background-position: center;
    height: 25em;
}

.form-drop-down{
    display:flex;
    gap:2em;
}

.form-new-cinema-hall {
    display: flex;
    width: auto;
    padding: 5em;
    justify-content: center;
    background-image: url("https://images.unsplash.com/photo-1489599849927-2ee91cede3ba?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
    background-position: center;
    height:25em;
}
.form-control-lg{
    width:20em;
}
.forms-price-time {
    display: flex;
    gap: 2em;
    margin-top: 2em;
    flex-wrap: wrap;
}
.forms-input {
    display: flex;
    padding: 2em;
    flex-direction: column;
    flex-wrap: wrap;
}

.form-inputs-movie {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}
.date-add-new-movie {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.image-name-movie {
    display: flex;
    gap: 7em;
}
.desc-movie {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    align-items: center;
}
.add-new-movie-form {
    background-image: url("https://images.unsplash.com/photo-1623197532650-bacb8a68914e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2em;
}
.buttons-cinema {
    display: flex;
    justify-content: start;
    flex-direction: row;
    flex-wrap: wrap;
    gap:0.5em;
}

.snack img{
   width:10em;
   height:10em;
}
.snack {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    align-content: flex-start;
}
.snacks-title{
    float:left;
    display:flex;
    gap:1em;
}
.snacks {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap:1em;
}
.image-checkbox {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
}

.cards-style {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    gap: 2em;
    flex-wrap: wrap;
}
.image img{
    width:20em;
    height: auto;
}
.carousel-inner {
    margin-top: 5em;
    width: auto;
    height: 30em;
    max-height: 26em !important;
    background-color: white;
}
.carousel-inner img {
   width: 18em;
   margin-bottom:2em;
}

.carousel-content {
    color:black;
    display: flex;
    text-align: center;
}

.text-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container-carousel {
    margin-top:2em;
    width: auto;
    display: flex;
    align-items: stretch;
    flex-direction: column;
}
.carousel-details {
    margin-top: 5em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: stretch;
    justify-content: space-around;
}
.title-carousel{
    margin-left:3em;
}
.forms-reservation {
    background-image: url("https://images.unsplash.com/photo-1512204224442-c5ce4b01bda4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
}

.text {
    width: 15em;
    text-align: justify;
}
.main-info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.products{
    width:45em;
}

.book-movie {
    margin: 10px;
    padding: 15px 30px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 10px;
    display: block;
    border: 0px;
    font-weight: 700;
    box-shadow: 0px 0px 14px -7px #f09819;
    background-image: linear-gradient(45deg, #FF512F 0%, #F09819 51%, #FF512F 100%);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    text-decoration:none;
    width:11em;
}

.book-movie:hover {
   background-position: right center;
   color: #fff;
   text-decoration: none;
}

.book-movie:active {
   transform: scale(0.95);
}
.movies {
    margin-top:5em;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}
.movies img{
    width:15em;
    height:20em;
}
.snacks-index {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    flex-wrap: wrap;
}
.form-snacks {
    background-image: url("https://images.unsplash.com/photo-1493804714600-6edb1cd93080?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    background-position:bottom;
    height: 30em;
}
.search-option{
    display:flex;
    gap:1em;
    float:right;
}
.index-movies {
    display: flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

filter-movies, filter-movies:hover {
    color: #000;
    text-decoration: none;
}

.nav-movies li {
    display: inline-block;
    position: relative;
    padding-bottom: 3px;
    margin-right: 10px;
}

.nav-movies li:last-child {
    margin-right: 0;
}

.nav-movies li:after {
    content: '';
    display: block;
    margin: auto;
    height: 3px;
    width: 0px;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
}

.nav-movies li:hover:after {
    width: 100%;
    background: red;
}
